 <footer>
                <div class="footer-top pt-50 pb-50">
                    <div class="container">
                        <div class="row">
                            <div class="footer-widget-area">
                                <!-- Start footer widget -->
                                <div class="col-sm-4">
                                    <div class="footer-widget widget-one">
                                        <div class="footer-widget-title">
                                            <h3>GO FUND TAPS </h3>
                                        </div>
                                        <div class="widget-about-content">
                                            <p>We need to raise $50,000 in order to bring our idea to life, but we cant do it by ourselves. If you got it like that, then give it like that, if you don’t, then just give a little bit. </p>
                                        </div>
                                        <div class="widget-contact-content">
                                            <h3>CONTACT US</h3>
                                            <a href="tel:404-343-8829">Phone :  704-749-0528</a>
                                            <a href="mailto:frame88corp@gmail.com">Email:tapssportsacademy@gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-2">
                                    <div class="footer-widget widget-two">
                                        <div class="footer-widget-title">
                                            <h3>PLEASE</h3>
                                        </div>
                                        <nav>
                                            <ul>
                                                <li><a href="#">GO FUND TAPS</a></li>
                                                
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-2">
                                    <div class="footer-widget widget-two">
                                        <div class="footer-widget-title">
                                            <h3>Donation Links</h3>
                                        </div>
                                        <nav>
                                            <ul>
                                                <li><a href="#">$20 Donation</a></li>
                                                <li><a href="#">$50 Donation</a></li>
                                                <li><a href="#">$100 Donation</a></li>
                                                <li><a href="#">$500 Donation</a></li>
                                                <li><a href="#">$1000 Donation</a></li>
                                                <li><a href="#">$5000 Donation</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- End footer widget -->
                                <!-- Start footer widget -->
                                <div class="col-sm-2">
                                    <div class="footer-widget widget-four">
                                        <div class="footer-widget-title">
                                            <h3>NEWS LETTER Coming Soon</h3>
                                        </div>
                                        <div class="widget-about-content">
                                            <p>Stay Tuned</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- End footer widget -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="copyright">
                                    <p>Copyright 2017 All rigth reserved. TAPS <a href="#">INC</a></p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="footer-social">
                                    <nav>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="back-top" style="display: block;"></div>
                    </div>
                </div>
            </footer>