<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		
		<!-- Start main area -->
        <div class="main-area">
        	<!-- Start header -->
            <header>
                <!-- Start header top -->
                <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 col-md-6">
                                <div class="top-social">
                                    <nav>
                                        <ul>
                                            <li><a>Follow Us On:</a></li>
                                            <li><a href="https://www.facebook.com/jermaine.smith.965?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-6">
                                <div class="call-to-action">
                                    <nav>
                                        <ul>
                                            <li><a href="mailto:frame88corp@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: tapssportsacademy@gmail.com  </a></li>
                                            <li><a href="tel:404-343-8829"><i class="fa fa-phone" aria-hidden="true"></i> Phone: 704-749-0528</a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End header top -->
                <!-- Start main menu area -->
                <div class="main-menu-area" id="sticker">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="logo ptb-32">
                                    <a href="/">
                                    <%= image_tag('TAPS.svg', alt: " ")%>
                                        <!-- <img src="img/logo.png" alt=""> -->
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <li><a><%= link_to 'Home', root_path %></a>
                                            </li>
                                            <!-- <li><a href="about.html">About</a></li>
                                            <li class="mega-menu"><a href="index-youtube-video.html#">Project</a></li> -->
                                        </ul>
                                    </nav>
                                </div>
                                 <!-- <div class="donate-button ptb-32">
                                    
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End main menu area -->
                <!-- Start mobile menu -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="nav">
                                        <li><a class="home" href="index-youtube-video.html#">Home</a>
                                        </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-50">&nbsp;</div>
                <!-- End mobile menu -->
            </header>
            <!-- End header -->
          
            